@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Share+Tech+Mono&family=Source+Code+Pro:wght@200&family=Ubuntu+Mono&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blinker {
  to {
    opacity: 0.3;
  }
}

@keyframes blinker {
  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #000124;
}

#home {
  color: white;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#head-back {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: radial-gradient(circle, #4d62ff 0%, #1300ff 100%);
  width: 60em;
  height: 30em;
  border-radius: 0 0 30em 30em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 5rem;
  font-family: 'Share Tech Mono', monospace;
  position: relative;
  top: -0.8em;
}

/* SECTIONS */
#web-dev {
  background: -webkit-gradient(linear, left top, right top, from(#79dec7), to(#91e5d2));
  background: linear-gradient(to right, #79dec7, #91e5d2);
  padding: 0.8rem;
  position: relative;
}

.sec {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1.5em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
}

.sec > div {
  padding: 0.4em 1em;
}

.sec-title {
  font-size: 3.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-subtitle {
  font-size: 2em;
}

.sec-content {
  font-size: 1.4em;
}

/* WEB DEV */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-head {
  font-size: 1.7rem;
}

.projects > div {
  margin: 0.6em;
  padding: 6em 0px 0px;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 30%;
  border-radius: 0.5em;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.projects > div:hover .project-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#metis-project {
  background: url("../images/metis_site.jpg") no-repeat center center/cover;
}

#amal-project {
  background: url("../images/amalthea.jpg") no-repeat center center/cover;
}

#blith-project {
  background: url("../images/blith.jpg") no-repeat center center/cover;
}

#xyz-project {
  background: url("../images/jack.jpg") no-repeat center center/cover;
}

.project-content {
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
  background: white;
  opacity: 0.8;
  height: 4em;
  padding: 0.3em 0.8em;
}

@media only screen and (max-width: 1000px) {
  #home {
    height: 51vh;
  }
  #head-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 19em;
    border-radius: 0 0 12em 12em;
  }
  .title {
    font-size: 3rem;
    position: relative;
    top: -0.5em;
  }
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects > div {
    width: 80%;
    margin: 10px auto;
  }
  .sec-title {
    font-size: 2.5rem;
  }
  .sec-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=events.css.map */