@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Share+Tech+Mono&family=Source+Code+Pro:wght@200&family=Ubuntu+Mono&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blinker {
  to {
    opacity: 0.3;
  }
}

@keyframes blinker {
  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #000124;
  color: white;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

#home {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#head-back {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: radial-gradient(circle, #4d62ff 0%, #1300ff 100%);
  width: 60em;
  height: 30em;
  border-radius: 0 0 30em 30em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 5rem;
  font-family: 'Share Tech Mono', monospace;
  position: relative;
  top: -0.8em;
}

#projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects ul li {
  width: 50%;
  list-style: none;
}

#projects ul li .card {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(25deg, rgba(0, 21, 255, 0.61), rgba(255, 0, 0, 0.46));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
}

#projects ul li .card .card-head {
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#projects ul li .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#projects ul li .card .card-content .card-img {
  padding: 0.5rem;
  width: 50%;
  height: 100%;
}

#projects ul li .card .card-content .card-img img {
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 5px;
  width: 100%;
}

#projects ul li .card .card-content .card-desc {
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
}

#projects ul li .card .card-content .card-desc p:first-child {
  padding-bottom: 1rem;
}

#projects ul li .card .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

#projects ul li .card .contact a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#projects ul li .card .contact a .bi-linkedin:hover {
  fill: #1e6dc7;
}

#projects ul li .card .contact a .bi-github:hover {
  fill: #161414;
}
/*# sourceMappingURL=projects.css.map */