$home-bgcolor: rgb(0, 118, 144);
$typinganimspeed: 4s;
$typewriterchar: 17;

#home{
	display: flex;
	flex-direction: column;
	height: 95vh;
	// position: absolute;
	width: 100%;
	justify-content: center;
	align-items: center;
	background:	$home-bgcolor;
}

#home-img {
		
	// position: relative;
	top: 0;
	
		img{
			width: 16em;
			transition: transform 100ms ease-in-out;

			&:hover{
				transform: scale(1.1);
			}
		}
}

.title{
	color: white;
	font-size: 4rem;
	// padding: 20px;
	font-family: 'Share Tech Mono', monospace;
	position: relative;

	&::before, &::after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&::before{
		background: $home-bgcolor;
		animation: typewriter $typinganimspeed steps($typewriterchar) 1s forwards;
	}
	
	&::after{
		width: 0.125em;
		background: rgba(0, 0, 0, 0.8);
		animation: typewriter $typinganimspeed steps($typewriterchar) 1s forwards, blinker 500ms infinite alternate;
	}

}


.sub-title{
	color: white;
	font-size: 1.7rem;
	padding: 20px;
	opacity: 0;

	$fadespeed: $typinganimspeed + 1.5s;
	@debug $fadespeed;
	animation: fadeInUp 1.5s ease $fadespeed forwards;
	
}




