@import './var';

.navbar{
	height: max-content;
	position: fixed;
	width: 100%;
	z-index: 1;
	color: white;
	transition: all 300ms ease-in-out;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	z-index: 100;

	ul{
		list-style: none;
		display: flex;
		margin: auto;

		li{
			font-size: 1.2em;
			padding: 20px;
			

			a{
				display: block;
				padding: 3px 22px;
				text-decoration: none;
				color: white;

				&:hover{
					color: rgb(51, 51, 51);
					background-color: white;
					border-radius: 20px;
				}
			}
		}
	}
}


#nav-img{
	position: relative;
	// left: 1rem;
	width: 10rem;
	// display: flex;
	// justify-content: center;
	img{
		width: 28%;
    	border-radius: 50%;
    	margin: 0.45rem;
	}
}

#active-link{
	color: rgb(51, 51, 51);
	background-color: white;
	border-radius: 20px;	
}

#nav-search{
	position: relative;
	right: 0px;
	top: 0px;
	display: flex;

	img{
		width: 24px;
		margin: 26px;

	}

	&:hover .search-box,
	.search-box:focus-within{
		transform: scale(1);
	}
}

.search-box{
	height: 2.5em;
    margin: auto;
    padding: 0.2em;
    border-radius: 1em;
    border: none;
	outline: none;
    transform: scale(0);
    transform-origin: right;
	transition: transform 1s ease;
}

.toggle-button{
	position: absolute;
	top: 1.4rem;
	left: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;

	.bar{
		height: 3px;
		width: 100%;
		background-color: white;
		border-radius: 10px;
	}
}



/* Footer  */
footer{
	background-color: #3581B8;
	color: white;
	height: auto;
	display: flex;
	// grid-template-columns: 1fr 2fr;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.follow{
	padding: 5rem 8rem;
	font-size: 1.3rem;
	justify-content: center;

	img{
		padding: 10px;
		align-items: center;
		justify-content: center;
		transition: transform 200ms ease-in-out;

		&:hover{
			transform: scale(1.3);
		}
	}
}

.icons{
	display: flex;
	justify-content: center;
	align-items: center;
}

#follow-head{
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
}
#copyright{
	padding: 5px;
	text-align: center;
	background-color: white;
	color: black;
}

.mail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 8rem;

	a{
		text-decoration: none;
		color: white;
		font-size: 1.3rem;
		padding: 10px;
	}
}

.active{
	display: flex !important;
}

@media only screen and (max-width:1000px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: rgba(0,0,0, .4);
		ul{
			flex-direction: column;
			width: 100%;
			// justify-content: center;
			align-items: center;
			li{
				// font-size: 0.8rem;
				padding: 0.5rem;
				display: none;
				width: max-content;
				text-align: center;
			}
			
		} 
			
	}
	.toggle-button{
		display: flex;
	}
	#nav-img{
		margin: 5px;
		left: 3rem;
		img{
			width: 33%;
		}
	}
	#nav-search{
		position: absolute;
		justify-content: flex-end;
		img{
			width: 26px;
			margin: 28px 13px;
		}
	}
	.search-box{
		width: 50%;
		margin: auto 5px;
	}

	footer{
		width: 100%;
		flex-direction: column;
		.follow{
			padding: 3rem 2rem;
		}
		.mail{
			h1{
				font-size: 1.8rem;
			}
			padding: 3rem 2rem;
		}
	}
}

