<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Metis | Home Page</title>
	<link rel="stylesheet" href="./css/Index.css">
</head>

<body>

	include views/nav.pug

	<section id="home">
			
		<div id="home-img">
			<img src="./images/metis.jpg" alt="Metis">
		</div>
		<div class="title">Welcome To Metis;</div>
		<div class="sub-title">Eat.Sleep.Code.Debug.Repeat</div>
	</section>

	<section id="web-dev">
		<div class="sec">
			<div class="sec-title">Web Development</div>
			<div id="wedev-img">
				<img src="" alt="">
			</div>
			
			<div class="sec-subtitle">Web Dev @ Metis</div>
			<div class="sec-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora, adipisci quaerat iusto fuga velit optio ut quae voluptate hic amet suscipit molestias expedita quos autem ipsum. Vel fugit vero quam, ipsa aspernatur error deleniti laudantium consectetur! Aliquid ex ipsam sunt atque, esse, ad amet, in cumque autem laudantium incidunt.</div>

			<div class="sec-subtitle">Projects by Metis</div>
			<div class="projects">
				<div id="metis-project">
					<div class="project-content">

						<div class="project-head" >Metis Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="amal-project">
					<div class="project-content">

						<div class="project-head" >Amalthea Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="blith-project">
					<div class="project-content">

						<div class="project-head" >Blithchron Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="xyz-project">
					<div class="project-content">

						<div class="project-head" >XYZ Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section id="web-dev">
		<div class="sec">
			<div class="sec-title">Machine Learning</div>
			<div id="wedev-img">
				<img src="" alt="">
			</div>
			
			<div class="sec-subtitle">ML @ Metis</div>
			<div class="sec-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora, adipisci quaerat iusto fuga velit optio ut quae voluptate hic amet suscipit molestias expedita quos autem ipsum. Vel fugit vero quam, ipsa aspernatur error deleniti laudantium consectetur! Aliquid ex ipsam sunt atque, esse, ad amet, in cumque autem laudantium incidunt.</div>

			<div class="sec-subtitle">Projects by Metis</div>
			<div class="projects">
				<div id="metis-project">
					<div class="project-content">

						<div class="project-head" >Metis Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="amal-project">
					<div class="project-content">

						<div class="project-head" >Amalthea Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="blith-project">
					<div class="project-content">

						<div class="project-head" >Blithchron Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>
				<div id="xyz-project">
					<div class="project-content">

						<div class="project-head" >XYZ Site</div>
						<div>Lorem ipsum dolor sit amet.</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	include views/footer.pug
	
	script
		include js/index.js

</body>
</html>