include ./nav.pug

head 
	link(rel='stylesheet' href='../css/actmem.css')

body 
	section#home
		#head-back
		.title Active Members
	
	section.act-mem 
		table
			thead
				tr 
					th Rollno.
					th Name
					th Points 
			
			tbody 
				each dt in actdt
					tr 
						th= dt[0]
						th= dt[1]
						th= dt[2]
								
	include ./footer.pug

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
	script
		include ../js/nav.js
		include ../js/actmem.js