include ./nav.pug
head
	link(rel="stylesheet", href="./css/events.css")

body 
	section#home
		#head-back
		.title Events
	
	section#web-dev
		.sec
			.sec-title Web Development
			#wedev-img
				img(src='' alt='')
			
			.sec-subtitle Web Dev @ Metis
			
			.sec-content
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora, adipisci quaerat iusto fuga velit optio ut quae voluptate hic amet suscipit molestias expedita quos autem ipsum. Vel fugit vero quam, ipsa aspernatur error deleniti laudantium consectetur! Aliquid ex ipsam sunt atque, esse, ad amet, in cumque autem laudantium incidunt.
			
			.sec-subtitle Projects by Metis
			.projects
				#metis-project
					.project-content
						.project-head Metis Site
						div Lorem ipsum dolor sit amet.
				#amal-project
					.project-content
						.project-head Amalthea Site
						div Lorem ipsum dolor sit amet.
				#blith-project
					.project-content
						.project-head Blithchron Site
						div Lorem ipsum dolor sit amet.
				#xyz-project
					.project-content
						.project-head XYZ Site
						div Lorem ipsum dolor sit amet.
		
	section#web-dev
		.sec
			.sec-title Machine Learning
			#wedev-img
				img(src='' alt='')
			
			.sec-subtitle ML @ Metis
			
			.sec-content
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora, adipisci quaerat iusto fuga velit optio ut quae voluptate hic amet suscipit molestias expedita quos autem ipsum. Vel fugit vero quam, ipsa aspernatur error deleniti laudantium consectetur! Aliquid ex ipsam sunt atque, esse, ad amet, in cumque autem laudantium incidunt.
			
			.sec-subtitle Projects by Metis
			.projects
				#metis-project
					.project-content
						.project-head Metis Site
						div Lorem ipsum dolor sit amet.
				#amal-project
					.project-content
						.project-head Amalthea Site
						div Lorem ipsum dolor sit amet.
				#blith-project
					.project-content
						.project-head Blithchron Site
						div Lorem ipsum dolor sit amet.
				#xyz-project
					.project-content
						.project-head XYZ Site
						div Lorem ipsum dolor sit amet.

	
	include ./footer.pug
	script
		include ../js/nav.js
		include ../js/events.js