footer
	
	.follow
		#follow-head Follow us on
		.icons
		a(href='http://www.linkedin.com/' target='_blank' rel='noopener noreferrer')
			img(src='./images/mycollection/png/001-linkedin.png' alt='')
		a(href='http://www.instagram.com/' target='_blank' rel='noopener noreferrer')
			img(src='./images/mycollection/png/002-instagram.png' alt='')
		a(href='http://www.facebook.com/' target='_blank' rel='noopener noreferrer')
			img(src='./images/mycollection/png/003-facebook.png' alt='')
		a(href='http://www.youtube.com/' target='_blank' rel='noopener noreferrer')
			img(src='./images/mycollection/png/004-youtube.png' alt='')
		a(href='http://www.twitter.com/' target='_blank' rel='noopener noreferrer')
			img(src='./images/mycollection/png/005-twitter.png' alt='')
	
	.mail
		h1 You can Email us on
		a(href='mailto:coding@iitgn.ac.in' target='_blank') coding@iitgn.ac.in
	
	
#copyright Copyright&copy; 2021