include ./nav.pug
head 
	link(rel='stylesheet' href='../css/Index.css')

body 

	section#home
			
		div#home-img
			<img src="../images/metis.jpg" alt="Metis">
		
		div.title Welcome To Metis;
		div.sub-title Eat.Sleep.Code.Debug.Repeat


	include ./footer.pug
	script
		include ../js/index.js
		include ../js/nav.js