<nav class="navbar center">
	<div id="nav-img">
		<img src="./images/metis.jpg" alt="Metis">
	</div>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="#">Projects</a></li>
		<li><a href="#">Team Metis</a></li>
		<li><a href="/resources">Resources</a></li>
		<li><a href="/actmembers">Active Members</a></li>
	</ul>
	<div id="nav-search">
		<input type="text" class="search-box">
		<img src="./images/search-3-48.png" alt="search">
	</div>
</nav>

//- script
//- 	include ../js/nav.js