nav.navbar.center
  #nav-img
    img(src='./images/metis.jpg', alt='Metis')
  ul
    li
      a(href='#') Home
    li
      a(href='#') Projects
    li
      a(href='#') Team Metis
    li
      a(href='#') Contact us
  #nav-search
    input.search-box(type='text')
    img(src='./images/search-3-48.png', alt='search')