<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Metis | Home Page</title>
	<link rel="stylesheet" href="./css/nav_foot.css">
</head>

<body>

	include nav.pug

	<section style="height: 80vh;" id="home">
		
	</section>
	<section style="height: 100vh;">
		
	</section>

	<section>

		<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro at facere, aliquam ducimus optio qui. Fugit sint ratione, voluptatibus natus necessitatibus voluptates fuga distinctio magni aperiam saepe cupiditate possimus unde reprehenderit, aut reiciendis tempore dolorem. Magni amet beatae accusantium. Doloremque suscipit modi quae veniam accusantium, eos cupiditate cumque id odit labore quia. Quas vitae, architecto expedita, ullam laboriosam quis repellendus repudiandae similique et voluptate facilis maxime aut eos quam dicta! Quas perspiciatis vitae deleniti ad sint sequi exercitationem eveniet laborum sunt recusandae? Earum quaerat officia maxime laborum inventore ipsum optio facere deserunt, rerum animi, quam iste eos. Cupiditate, debitis placeat?
		</div>
	</section>	
		
	include footer.pug

	script
		include ../js/nav.js

</body>
</html>