include nav.pug

head 
	link(rel='stylesheet' href='../css/resources.css')

body
	section#home
		#head-back
		.title Resources

	section
		each con in content
			div.card
				img(src= strapiurl+con.image.formats.thumbnail.url  alt=con.title).card-img
				div.card-body
					h1.card-head= con.title
					p.card-desc= con.description

	
	include footer.pug
	script
		include ../js/nav.js
		include ../js/resources.js